.App{
    text-align: center;
}

.heading{
    color: red;
}

.article{
    border: 2px solid grey;
    width: 80%;
    margin: auto;
    padding: 20px 50px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px lightgrey;
}